version: '3.9'

services:
  auth_service:
    build: ./auth_service
    container_name: auth_service
    ports:
      - "5001:5001"
    networks:
      - parking_net

  vehicle_service:
    build: ./vehicle_service
    container_name: vehicle_service
    ports:
      - "5002:5002"
    networks:
      - parking_net

  parking_service:
    build: ./parking_service
    container_name: parking_service
    ports:
      - "5003:5003"
    networks:
      - parking_net

  payment_service:
    build: ./payment_service
    container_name: payment_service
    ports:
      - "5004:5004"
    networks:
      - parking_net

  offline_payment_service:
    build: ./offline_payment_service
    container_name: offline_payment_service
    ports:
      - "5008:5008"
    networks:
      - parking_net

  analytics_service:
    build: ./analytics_service
    container_name: analytics_service
    ports:
      - "5005:5005"
    networks:
      - parking_net

  dashboard_service:
    build: ./dashboard_service
    container_name: dashboard_service
    ports:
      - "8080:8080"
    networks:
      - parking_net

  monitoring_service:
    build: ./monitoring_service
    container_name: monitoring_service
    ports:
      - "5006:5006"
    networks:
      - parking_net

  ocr_service:
    build: ./ocr_service
    container_name: ocr_service
    ports:
      - "5009:5009"
    networks:
      - parking_net

  ocr_local:
    build: ./ocr_local
    container_name: ocr_local
    ports:
      - "5010:5010"
    networks:
      - parking_net

  tariff_service:
    build: ./tariff_service
    container_name: tariff_service
    ports:
      - "5011:5011"
    networks:
      - parking_net

  notification_service:
    build: ./notification_service
    container_name: notification_service
    ports:
      - "5012:5012"
    networks:
      - parking_net

networks:
  parking_net:
    driver: bridge
